<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
{% load static %}
<body bgcolor="#f0f8ff">
<h1>Edit</h1>
<h3>modifica registros de Laboratorios</h3>
  <img class="centrar" src={% static "/images/fondo2.jpg" %} alt="Cosa1" width="300" height="" align="left"/>

    <form method="POST">
        {% csrf_token %}
        {{  form.as_div }}
        <a href="/">Home</a>
        <button type="submit">Actualizar</button>
        <script type="text/javascript" id="WolframAlphaScript686cb2746ee0273ebe0646575b074ca6" src="//www.wolframalpha.com/widget/widget.jsp?id=686cb2746ee0273ebe0646575b074ca6"></script>
    </form>
</body>
</html>