<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deletear</title>
</head>
<body bgcolor="#f0f8ff">
    <h1>Delete</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Eliminar Registro ed Laboratorio?</legend>
            <ul>
                <li>{{ lav.nombre }}</li>
            </ul>
        </fieldset>
        <button type="submit">Sí, eliminar de forma permanente</button>
        <a href="/">Home</a>
    </form>
</body>
</html>